<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theoldsweb.myweb.web.mapper.TourtbMapper">
    <delete id="del">
        DELETE FROM tour_tb WHERE tour_id = #{tourId}
    </delete>


    <select id="selectByOne"
            parameterType="com.theoldsweb.myweb.common.dto.TourtbDto"
            resultType="com.theoldsweb.myweb.common.dto.TourtbDto">
         SELECT
        tt.id,
        tt.tour_id as tourId,
        tt.tour_title as tourTitle,
        tt.tour_digest as tourDigest,
        tt.tour_main_body as tourMainBody,
        tt.tour_pic as tourPic,
        tt.comments_id as commentsId,
        atc.type_name as tourAreaName,
        atc1.type_name as tourCountryName,
        tt.tour_giveALike as tourGiveALike,
        tt.create_time as createTime,
        tt.update_time as updateTime
        FROM tour_tb tt
        left join all_type_config atc
        on tt.tour_area_id=atc.type_id

        left join all_type_config atc1
        on tt.tour_contry_id=atc1.type_id

        <where>
            <if test="tourId!=null and tourId!='' ">
                tt.tour_id=#{tourId}
            </if>

            <if test="selectType==1">
                and tt.tour_contry_id=1
            </if>
            <if test="selectType==2">
                and tt.tour_contry_id=2
            </if>
        </where>
        <if test="selectType==3">
            order by tt.tour_giveALike desc
        </if>
        <if test="selectType==4">
            order by tt.create_time desc
        </if>

    </select>
    <update id="updateCommentsByTourId">
      UPDATE `theOlds`.`tour_tb`
        SET
        `comments_id` =CONCAT(comments_id,',',#{commentsId}),
        `tour_giveALike`=tour_giveALike+1,
        `update_time` = #{ date }
        WHERE
            `tour_id` = #{tourId};
    </update>

</mapper>