<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theoldsweb.myweb.web.mapper.AllTypeConfigMapper">
  <resultMap id="BaseResultMap" type="com.theoldsweb.myweb.common.entity.AllTypeConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="type_ower" jdbcType="VARCHAR" property="typeOwer" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <select id="getList" resultType="com.theoldsweb.myweb.common.entity.AllTypeConfig">
    select
    `id` as id,
    `type_id` as typeId,
    `type_name` as typeName,
    `level` as level,
    `type_ower` as typeOwer,
    `create_time` as createTime,
    `update_time` as updateTime
    from
    all_type_config
    <where>
      <if test="level!=null">
        level=#{level}
      </if>
      <if test="typeOwer!=null">
        and type_ower=#{typeOwer}
      </if>
    </where>
  </select>
</mapper>