<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theoldsweb.myweb.web.mapper.LoveMapper">
  <update id="update">
  UPDATE `theOlds`.`love`
  SET
  `lovestatus` = 1,
  `update_time` = #{updatTime}
  WHERE love_id = #{loveId}

  </update>
  <delete id="del">
     DELETE FROM love WHERE love_id = #{loveId}
  </delete>

  <select id="getList" resultType="com.theoldsweb.myweb.common.dto.LoveDto">
    select
    `id` as id,
    `love_id` as loveId ,
    `love_title` as loveTitle,
    `love_content` as loveContent,
    `love_time` as loveTime,
    `love_address` as loveAddress,
    `love_classification` as loveClassification,
    `love_style` as loveStyle,
    `love_ower` as loveOwer,
    `love_condition` as loveCondition,
    `love_phone` as lovePhone,
    `love_pic`as lovePic,
    `lovestatus`as lovestatus,
    `creat_time`as creatTime,
    `update_time`as updateTime
    from
    love
    <where>
      <if test="loveDto.loveClassification !=null and loveDto.loveClassification !=''">
        love_classification=#{loveDto.loveClassification}
      </if>
      <if test="loveDto.loveStyle !=null and loveDto.loveStyle !=''">
        and love_style=#{loveDto.loveStyle}
      </if>
      <if test="loveDto.lovestatus !=null ">
        and lovestatus=#{loveDto.lovestatus}
      </if>
    </where>
  </select>
</mapper>