<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theoldsweb.myweb.web.mapper.LoveConfigMapper">
  <resultMap id="BaseResultMap" type="com.theoldsweb.myweb.common.entity.LoveConfig">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="love_type_id" jdbcType="VARCHAR" property="loveTypeId" />
    <result column="love_type_name" jdbcType="VARCHAR" property="loveTypeName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>