<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theoldsweb.myweb.web.mapper.NewsMapper">
  <resultMap id="BaseResultMap" type="com.theoldsweb.myweb.common.entity.News">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="new_id" jdbcType="VARCHAR" property="newId" />
    <result column="new_title" jdbcType="VARCHAR" property="newTitle" />
    <result column="new_digest" jdbcType="VARCHAR" property="newDigest" />
    <result column="new_main_body" jdbcType="VARCHAR" property="newMainBody" />
    <result column="new_pic" jdbcType="VARCHAR" property="newPic" />
    <result column="comments_id" jdbcType="VARCHAR" property="commentsId" />
    <result column="new_type" jdbcType="INTEGER" property="newType" />
    <result column="new_giveALike" jdbcType="INTEGER" property="newGivealike" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="getList" resultType="com.theoldsweb.myweb.common.dto.NewsDto">
    select
    `id`,
    `new_id` as newId,
    `new_title` as newTitle,
    `new_digest` as newDigest,
    `new_main_body` as newMainBody ,
    `new_pic` as newPic,
    `comments_id` as commentsId,
    `new_type` as newType,
    `new_giveALike` as newGivealike,
    `create_time` as createTime,
    `update_time` as updateTime
    from
    news
    <where>
      <if test="newsDto.newId!=null and newsDto.newId!='' ">
        new_id=#{newsDto.newId}
      </if>
      <if test="newsDto.newType!=null and newsDto.newType!=''">
        and new_type=#{newsDto.newType}
      </if>
    </where>
    <if test="newsDto.selectType==1">
      order by new_giveALike desc
    </if>
    <if test="newsDto.selectType==2">
      order by create_time desc
    </if>

  </select>
  <update id="updateCommentsByNewId">
       UPDATE `theOlds`.`news`
        SET
        `comments_id` =CONCAT(comments_id,',',#{commentsId}),
         `new_giveALike`=new_giveALike+1,
        `update_time` = #{ currentDateTime }
        WHERE
            `new_id` = #{newsId};

  </update>

</mapper>