<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theoldsweb.myweb.web.mapper.TourtbMapper">

    <select id="getList" resultType="com.theoldsweb.myweb.common.dto.TourtbDto">
         SELECT
          tour_id as tourId,
          tour_title as tourTitle,
          tour_digest as tourDigest,
          tour_main_body as tourMainBody,
          tour_pic as tourPic,
          comments_id as commentsId,
          tour_tb.tour_area_id as tourAreaId,
          tour_config.tour_area_name as tourAreaName,
          tour_config.tour_country_id as tourCountryId,
          tour_giveALike as tourGiveALike,
          tour_tb.create_time as createTime,
          tour_tb.update_time as updateTime
        FROM tour_tb
        left join     tour_config
        on tour_tb.tour_area_id=tour_config.tour_area_id
    </select>
    <select id="selectByOne"
            parameterType="com.theoldsweb.myweb.common.dto.TourtbDto"
            resultType="com.theoldsweb.myweb.common.dto.TourtbDto">
         SELECT
        tt.id,
        tt.tour_id as tourId,
        tt.tour_title as tourTitle,
        tt.tour_digest as tourDigest,
        tt.tour_main_body as tourMainBody,
        tt.tour_pic as tourPic,
        tt.comments_id as commentsId,
        tour_config.tour_country_id as tourCountryId,
        tour_config.tour_area_name as tourAreaName,
        tt.tour_area_id as tourAreaId,
        tt.tour_giveALike as tourGiveALike,
        tt.create_time as createTime,
        tt.update_time as updateTime
        FROM tour_tb tt
        left join tour_config
        on tt.tour_area_id=tour_config.tour_area_id
        <where>
            <if test="tourId!=null and tourId!='' ">
                tt.tour_id=#{tourId}
            </if>

            <if test="selectType==1">
                and tour_config.tour_country_id=1
            </if>
            <if test="selectType==2">
                and tour_config.tour_country_id=2
            </if>
        </where>
        <if test="selectType==3">
            order by tt.tour_giveALike desc
        </if>
        <if test="selectType==4">
            order by tt.create_time desc
        </if>

    </select>
    <update id="updateCommentsByTourId">
      UPDATE `theOlds`.`tour_tb`
        SET
        `comments_id` =CONCAT(comments_id,',',#{commentsId}),
        `tour_giveALike`=tour_giveALike+1,
        `update_time` = #{ date }
        WHERE
            `tour_id` = #{tourId};
    </update>

</mapper>