<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.theoldsweb.myweb.web.mapper.VideoMapper">
  <resultMap id="BaseResultMap" type="com.theoldsweb.myweb.common.entity.Video">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="video_id" jdbcType="INTEGER" property="videoId" />
    <result column="video_title" jdbcType="VARCHAR" property="videoTitle" />
    <result column="video_ower" jdbcType="VARCHAR" property="videoOwer" />
    <result column="comments_id" jdbcType="VARCHAR" property="commentsId" />
    <result column="tour_giveALike" jdbcType="INTEGER" property="tourGivealike" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>